
*{

    margin: 0px;
    padding: 0;
    box-sizing: 0;
    box-sizing: border-box;
}

body{

    background-color: #ffffff;
}

nav{
    margin: 40px;
    width: 1000px;
    height: 90px;
    padding: 20px;
    color: #614949;
    background-size: contain;
    font-size: 30px;
    box-sizing: border-box;
    border-radius: 10px;  
    background-color: #ffffff;
    display: flex;
    
}

.logo{
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: space-around;


}

.logo ul{
    display: flex;
    margin: 5px;
    align-items: flex-end;
    margin-left: 250px;
    font-size: 85px;
}

.foto{
    width: 95px;
    height: 95px;
    display: flex;
    align-items: flex-start
}
header{
    margin: 60px 40px 80px 40px;
    width: 94%;
    padding: 20px;
    color: #614949;
    border-radius: 20px;
    background-color: #c1a2a0be;
   
}

.media{
    display: flex;
    margin: 100px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    
   
}

.media p{
    margin: 5px;
    font-size: 85px;
    

}

.lanita{
    width: 300px;
    height: 400px;
}

li{
    display: inline-block;
    margin: 1% 1% 1% 1%;
    padding: 2px;
    box-shadow: #000000;
    text-align: right;
    float: none;
    line-height: 2px 2px 100px;
    font-size: 25px;
   
}

#titulo{
   
    text-shadow: 1px 1px 2px rgb(158, 146, 146);
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

#nombre_artistico{
    text-shadow: 1px 1px 2px rgb(155, 151, 151);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    float: left;
    width: 40%;
    margin-top: 12px;   
    font-size: 25px; 
    padding-left: 50px;
}


a{
    text-decoration: none;
    color: #9d9292;
    margin: 20px;
}



a:hover{
    text-decoration: none;
    color: black;
    text-align: center;
}

img{
    left: 8px;
    margin-right: 5px;
    height: 400px;
    padding: 20px;
}

#caja_album{
    width: 700px;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}


#album_1{
    width: 300px;
    height: 500px;
    border-radius: 10px;
    margin: 50px;
    background-color:#e2e3d9;
    box-shadow: 7px 7px #e2e3d9;
    text-align: center;

}

#album_2{
    width: 300px;
    height: 500px;
    border-radius: 10px;
    margin: 5px 10px;
    box-shadow: 7px 7px #e2e3d9;
    background-color:#e2e3d9;
    text-align: center;

}

#album_3{
    width: 300px;
    height: 500px;
    border-radius: 10px;
    margin: 50px;
    box-shadow: 7px 7px #e2e3d9;
    background-color: #e2e3d9;
    text-align: center;

}

#foto1{
    width: 280px;
    height: 280px;
    border-radius: 10%;
    

}

#foto2{
    width: 280px;
    height: 280px;
    border-radius: 10%;
    

}

#foto3{
    width: 280px;
    height: 280px;
    border-radius: 10%;
    

}



section{
    margin : 40px;
    padding: 50xp;
}

#parr1{
    color: #000000;
    text-align: left;
}

footer{
    background: #e2d7d7 200px;
    text-align: center;
    height:360px;
    border-radius: 10px;
    width: 1150px;
    padding: 20px;
    margin: 40px;
    background-color: #e2e3d9;
    display: flex;
    justify-content: space-around;
    box-shadow: 5px 5px #888888;

}

#social{
    padding: 20px 10px 30px;
}

#youtube{
    width: 70px;
    height: 70px;
    margin: 70px 0;
    cursor: pointer;

}

#spoty{
    width: 70px;
    height: 70px;
    margin: 70px 0;
}

#ig{
    width: 70px;
    height: 70px;
    margin: 70px 0;
    
}

.clear{
    clear: both;
}

/*historia*/

#historia{
    text-shadow: 1px 1px 2px rgb(155, 151, 151);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    float: left;
    width: 40%;
    margin-top: 8px;  
}

#div_historia{
    width: 1140px;
    padding: 20px;
    margin: 60px 40px 80px 40px;
    color:#000000; 
    border: 1px solid #664848;
    border-radius: 10px;   
}

#section_historia{
    width: 400px;
    text-align: left;
}


/*canciones*/


/*Biografia*/

.biografia{
    width: 94%;
    height: 1000px;
    background-color: #d0d2e3;
    margin: 40px;
    padding: 160px;
    border-radius: 20px; 
    text-align: center;
    font-size: 30px;
    color: #000000;
}

.nom_bio{
    margin: 60px;
    font-size: larger;
    font-family: Georgia;
}

.foto_bio{
    margin: 80px;
    padding: 30px;
    width: 200px;
    height: 200px;
}

.nom_album{
    font-size: larger;
}
